@model IEnumerable<EleganciaWebApi.Cliente>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreSeg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoPrim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoSeg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DireccionCliente.Direccion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreSeg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApellidoPrim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApellidoSeg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DireccionCliente.Direccion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdCliente }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdCliente }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdCliente })
        </td>
    </tr>
}

</table>
